@font-face {
  font-family: 'Babygemoy';
  src: url('../assets/fonts/BabyGemoy.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HigherJump';
  src: url('../assets/fonts/HigherJump.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Milkyway';
  src: url('../assets/fonts/Milkyway.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}
