# Build artifacts
.react-router
build
dist

# Dependencies
node_modules

# Git related
.git
.gitignore
.github

# Documentation
README.md
CHANGELOG.md
LICENSE
CONTRIBUTING.md
SECURITY.md

# Development files
.vscode
.editorconfig
.eslintignore
.eslintrc.js
.prettierignore
.prettierrc

# Docker related
Dockerfile
docker-compose.yml
.dockerignore

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
bun-debug.log*

# Environment variables
.env*
!.env.example

# OS specific
.DS_Store
Thumbs.db