/* styles/scrollHeadline.css */

@layer base, demo, scroll, hack;

@layer hack {
  @property --lh {
    syntax: '<integer>';
    inherits: true;
    initial-value: 0;
  }
  @property --measure {
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
  }
  .measure {
    position: absolute;
    height: 1lh;
    aspect-ratio: 1;
    right: 0;
    bottom: 100%;
    overflow: auto;
    --lh: calc(1 / (1 - var(--measure)));
    timeline-scope: --unit;
    animation: y linear;
    animation-timeline: --unit;
    animation-range: entry 100% exit 100%;
  }
  @keyframes y {
    to {
      --measure: 1;
    }
  }
}

@layer scroll {
  @supports (animation-timeline: scroll()) and (animation-range: entry 0 100%) {
    @property --progress {
      syntax: '<integer>';
      inherits: true;
      initial-value: 0;
    }

    section {
      --progress: 0;
      animation: progress both linear;
      animation-timeline: scroll(root);
      counter-set: p var(--progress);
    }

    .heading h1 {
      background-position-x: 200%, 0;
      animation: fill both linear;
      animation-timeline: scroll(root);
    }

    @keyframes fill {
      to {
        background-position-x: 100%, 0;
      }
    }

    @keyframes progress {
      to {
        --progress: 100;
      }
    }
  }
}

@layer demo {
  section {
    --font-level: 4.5;
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    max-width: 1600px;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2rem;
  }

  .heading h1 {
    margin: 0;
    line-height: 1.1;
    font-size: clamp(1.75rem, 4vw, 3.25rem);
    background-image: linear-gradient(90deg, currentColor 0 0);
    background-size: 200% 100%;
    background-repeat: no-repeat;
    background-position-x: 180%;
    color: transparent;
    background-clip: text;
    -webkit-text-stroke: 2px currentColor;
    letter-spacing: 0.05ch;
  }
}
