/* Journey Section Styles */

.journey-heading {
  line-height: 1;
  background-image: linear-gradient(90deg, hsl(var(--background)) 0 0);
  background-size: 200% 100%;
  background-repeat: no-repeat;
  background-position-x: 200%;
  background-position-y: 0%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 2px hsl(var(--background));
}

.dark .journey-heading {
  background-image: linear-gradient(90deg, hsl(var(--accent)) 0 0);
  -webkit-text-stroke: 2px hsl(var(--border));
}

@media (max-width: 768px) {
  .journey-heading {
    -webkit-text-stroke: 1px hsl(var(--background));
  }
}

.progress-line::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  height: 1px;
  width: 200vmax;
  background: hsl(var(--border));
  z-index: -10;
  transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  .progress-line::before {
    display: none;
  }
}
