/* Flipboard Component Styles */

/* Flip slot animations */
.flip > div:nth-of-type(2) {
  z-index: 2;
  transform: rotateX(-180deg);
  backface-visibility: hidden;
}

.flip div:nth-of-type(3) {
  z-index: 3;
  backface-visibility: hidden;
}

/* Board and line layout */

.board {
  display: flex;
  gap: 0.3ch;
  flex-direction: column;
  text-transform: uppercase;
  font-family: 'Roboto Mono', monospace, ui-monospace, 'Courier New', monospace;
  background: transparent; /* transparent to show billboard screen */
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 8px 12px;
  overflow: hidden;
}
.flip-line {
  display: flex;
  gap: 0.3ch;
}
.flip {
  --font-level: 8;
  font-size: 2.5rem;
  color: var(--color, currentColor);
  width: 1.5ch;
  line-height: 1.2;
  display: inline-block;
  height: 1lh;
  text-align: center;
  position: relative;
  transform-style: preserve-3d;
  perspective: calc(var(--perspective, 1) * 1em);
}

.flip::before,
.flip::after {
  content: '';
  position: absolute;
  width: calc(10% - 0.05em);
  height: calc(20% - 0.05em);
  background: rgba(255, 255, 255, 0.15);
  top: 50%;
  translate: 0 -50%;
}
.flip::before {
  left: 0;
}

.flip::after {
  right: 0;
}
.flip .flip-holder {
  position: absolute;
  inset: 0;
  transform-style: preserve-3d;
}

.flip div {
  position: absolute;
  transform-style: preserve-3d;
  overflow: hidden;
  inset: 0;
  background:
    radial-gradient(100% 100% at 50% 100%, hsl(0 0% 60% / 0.2), transparent),
    hsl(0 0% 15%);
}

.flip div:nth-of-type(odd) {
  clip-path: polygon(
    0 0,
    100% 0,
    100% 40%,
    calc(90% + 0.025em) 40%,
    calc(90% + 0.025em) 48%,
    calc(10% - 0.025em) 48%,
    calc(10% - 0.025em) 40%,
    0 40%
  );
}

.flip div:nth-of-type(even) {
  clip-path: polygon(
    0 60%,
    calc(10% - 0.025em) 60%,
    calc(10% - 0.025em) 52%,
    calc(90% + 0.025em) 52%,
    calc(90% + 0.025em) 60%,
    100% 60%,
    100% 100%,
    0 100%
  );
}
